@import "tailwindcss";

body {
  background: #FFFBF5;
  color: #222;
  font-family: poppins;
}

.navBar_color_on_scroll {
  background-color: #ffedd8;
  transition: background-color 0.3s ease-in-out;
}


.slider_section {
  .slide_1 {
    background-image: url('../public/images/slider_2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide_2 {
    background-image: url('../public/images/slider_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .slide_3{
    background-image: url('../../public/images/slider_img_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide_4{
    background-image: url('../../public/images/slider_img_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  } */
}

.border-b {
  border-bottom: 1px solid #FDC789;
}

.completed_Projects {
  .overlayBlack {
    display: block;
    width: 100%;
    height: 400px;
    background-color: rgb(0 0 0 / 40%);
    border-radius: 12px;
  }

  .play_btn {
    bottom: 50%;
    left: 50%;
    color: #743f00;
    font-size: 40px;
    transform: translate(-30px, 10px);
    background-color: #ffedd88f;
  }
}

.project_in_mind{
  background-image: url('../public/images/have_project.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.projects_section {
  .project_Card {
    &:hover {
      cursor: pointer;

      .displayHover {
        display: block;
      }

      .overFlow {
        display: block;
        opacity: 1
      }
    }
  }

  .overFlow {
    /* height: 582px; */
    background-color: #ffab4b70;
    position: absolute;
    width: 100%;
    top: 0px;
    border-radius: 4px;
    z-index: 0;
    opacity: 0;
    transition: 0.3s;
  }

  .displayHover {
    display: none;
    transition: 0.3s;
  }
}

.about_us {
  .img_section {
    background-image: url('../public/images/about_img.jpeg');
    /* height: 521px; */
    /* height: 800px; */
    object-fit: fill;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
  }
}

/* .plans_offered{

} */

@media (max-width: 1023.98px) {
  .services_offered {
    .service_Img {
      width: 65px;
    }
  }
}

@media (max-width: 767.98px) {
  .completed_Projects {
    .overlayBlack {
      height: 330px;
    }
  }

  .about_us {
    .img_section {
      height: 400px;
    }
  }
}

@media (max-width: 639.98px) {
.how_it_works{
    .last_icon{
      div{
        text-align: left;
      }
    }
  }
}

@media (max-width: 409.98px) {
  .how_it_works{
    .last_icon{
      div{
        text-align: left;
      }
      p{
        width: 68%;
        text-align: center !important;
      }
    }
  }
}